<%= render 'preorder/homepage/show_dont_tell' %>  
<%= render 'preorder/homepage/key_points' %>
<%= render 'preorder/homepage/other_points' %>
<%= render 'preorder/homepage/middle_reserve' %>  
<%= render 'preorder/homepage/faqs' %>
<%= render 'preorder/homepage/press' %>

<div id="pop_up_1" class="read_more mfp-hide">
  <h2>Back Our Project!</h2>
  <hr />
    <p> To the Gig is a unique interactive app that allows you to instantly view and connect with other members. 
    	<br /><br />
    Post a detailed profile of yourself to allow other musicians to find you by type of instrument, skill level, style of music, location and a host of other attributes.  
<br /><br />
    Search quickly and easily for nearby musicians to fill open spots when you have a gig in your area.</p>
    <hr />
    <p> By contributing $250 you are helping us, your fellow musicians, finish the remaining work and get us to launch. It's like "Kickstarter".</p>
    <hr />
    <p>For backing this project you'll get a limited edition To-The-Gig backers T-Shirt and when the product launches your profile will have a special "Gold" note - showing everyone you supported us!</p>
</div>


<div id="pop_up_2" class="read_more mfp-hide">
 <h2>Sign up early and save big!</h2>
  <hr />
    <p> To the Gig is a unique interactive app that allows you to instantly view and connect with other members. 
    	<br /><br />
    Post a detailed profile of yourself to allow other musicians to find you by type of instrument, skill level, style of music, location and a host of other attributes.  
<br /><br />
    Search quickly and easily for nearby musicians to fill open spots when you have a gig in your area.</p>
    <hr />
    <p> By signing up now you help support the remaining development work and insure you are first in line for memebership. Plus... you save a lot of money!</p>
    <hr />
    <p>This pre-buy membership gives you a full year of service as soon as the app launches at a 50% discount.</p>
</div>