<%= render 'preorder/homepage/show_dont_tell' %>  
<%= render 'preorder/homepage/key_points' %>
<%= render 'preorder/homepage/other_points' %>
<%= render 'preorder/homepage/middle_reserve' %>  
<%= render 'preorder/homepage/faqs' %>
<%= render 'preorder/homepage/press' %>

<div id="pop_up_1" class="read_more mfp-hide">
  <div class="flex_popup">
    <div class="flex_head">
      <!-- <div class="flex_image"></div> -->
      <div class="flex_title">
        <h4>Sign up early and save big!</h4>
        <h5>Be one of our first active artists.</h5>
      </div>
    </div>
    <div class="flex_row">
      <p><strong><em>To The Gig</em></strong> is an unique interactive app that allows you to instantly view and connect with other musicians.</p>
      <p>You post a detailed profile of yourself to allow other musicians to find you by type of instrument, skill level, style of music, location and a host of other attributes. You include short video clips of your best performances.</p>
      <p>You can use the app to search for nearby musicians to fill open spots when you have a gig in your area.</p>
    </div>
    <div class="flex_row">
      <p>Your Early Subscription payment will be used to put the final touches on the app and get it ready for launch. It's like funding a "Kickstarter" project.</p>
    </div>
    <div class="flex_row">
      <p>You'll be notified immediately when the app launches so you can take advantage of your discount subscription.</p>
    </div>
  </div>
  <a title="Close" class="close">X</a>
</div>

<div id="pop_up_2" class="read_more mfp-hide">
  <div class="flex_popup">
    
    <div class="flex_head">
     
      <div class="flex_title">
        <h4>Fund our effort -> get a T-Shirt!</h4>
        <h5>Help out fellow musicians like a 'Kickstarter' project.</h5>
      </div>
    
    </div>

    <div class="flex_head">

      <div class="flex_image" ><img alt="T-Shirt" src="/assets/tshirt1.jpg" /></div>

    </div>

    <div class="flex_row">
      <p><strong><em>To The Gig</em></strong> is an unique interactive app that allows you to instantly view and connect with other musicians.</p>
      <p>You post a detailed profile of yourself to allow other musicians to find you by type of instrument, skill level, style of music, location and a host of other attributes. You include short video clips of your best performances.</p>
      <p>You can use the app to search for nearby musicians to fill open spots when you have a gig in your area.</p>
    </div>
    <div class="flex_row">
      <p>Your payment helps us complete and launch the app. In return you get a limited edition T-shirt and you'll be notified when the app is available.</p>
    </div>
  </div>
  <a title="Close" class="close">X</a>
</div>

<div id="pop_up_3" class="read_more mfp-hide">
  <div class="flex_popup">

    <div class="flex_head">
    
      <div class="flex_title">
        <h4>Support the project and save money!</h4>
        <h5>Back our project, get a T-shirt AND a discounted 1 year subscription.</h5>
      </div>
    
    </div>

    <div class="flex_head">
      <div class="flex_image"><img alt="T-Shirt" src="/assets/tshirt1.jpg" /></div>
    </div>

    <div class="flex_row">
      <p><strong><em>To The Gig</em></strong> is an unique interactive app that allows you to instantly view and connect with other musicians.</p>
      <p>You post a detailed profile of yourself to allow other musicians to find you by type of instrument, skill level, style of music, location and a host of other attributes. You include short video clips of your best performances.</p>
      <p>You can use the app to search for nearby musicians to fill open spots when you have a gig in your area.</p>
    </div>
    <div class="flex_row">
      <p>Your Early Subscription payment will be used to put the final touches on the app and get it ready for launch. It's like funding a "Kickstarter" project.</p>
    </div>
    <div class="flex_row">
      <p>You'll be notified immediately when the app launches so you can take advantage of your discount subscription.</p>
    </div>
  </div>
  <a title="Close" class="close">X</a>
</div>