<%= render 'preorder/homepage/show_dont_tell' %>  
<%= render 'preorder/homepage/key_points' %>
<%= render 'preorder/homepage/other_points' %>
<%= render 'preorder/homepage/middle_reserve' %>  
<%= render 'preorder/homepage/faqs' %>
<%= render 'preorder/homepage/press' %>

<div id="pop_up_1" class="read_more mfp-hide">
  <h3>Sign up early and save big!</h3>
  <h4>Be one of our first active artists.</h4>
  <hr />
    <p> <em>To The Gig</em> is a unique interactive app that allows you to instantly view and connect with other musicians. 
    	<br /><br />
    You post a detailed profile of yourself to allow other musicians to find you by type of instrument, skill level, style of music, location and a host of other attributes. You include short video clips of your best performances. 
<br /><br />
    You can use the app to search for nearby musicians to fill open spots when you have a gig in your area.</p>
    <hr />
    <p> Your Early Subscription payment will be used to put the final touches on the app and get it ready for launch. It's like funding a "Kickstarter" project.</p>
    <hr />
    <p>You'll be notified immediately when the app launches so you can take advantage of your discount subscription.</p>
    <a href="#close" title="Close" class="close">X</a>
</div>

<div id="pop_up_2" class="read_more mfp-hide">
    <div>
     <img alt="T-Shirt" width='100px' height='100px' src="/assets/tshirt1.jpg" />
       </div>
       <div style='margin-left:110px;'>
<h3>Fund our effort - get a T-Shirt!</h3>
 <h4>Help out fellow musicians like a 'Kickstarter' project.</h4>
</div>
   <hr />
    <p> <em>To The Gig</em> is a unique interactive app that allows you to instantly view and connect with other musicians. 
        <br /><br />
    You post a detailed profile of yourself to allow other musicians to find you by type of instrument, skill level, style of music, location and a host of other attributes. You include short video clips of your best performances. 
<br /><br />

 <hr />
    You can use the app to search for nearby musicians to fill open spots when you have a gig in your area.</p>
    <hr />
    <p>Your payment helps us complete and launch the app. In return you get a limited edition T-shirt and you'll be notified when the app is available.</p>

    <a href="#close" title="Close" class="close">X</a>
</div>

<div id="pop_up_3" class="read_more mfp-hide">
   <div>
     <img alt="T-Shirt" width='100px' height='100px' src="/assets/tshirt1.jpg" />
       </div>
       <div style='margin-left:110px;'>
  <h3>Support the project and save money!</h3>
  <h4>Back our project, get a T-shirt AND a discounted 1 year subscription.</h4>
  </div>
  <hr />
    <p> <em>To The Gig</em> is a unique interactive app that allows you to instantly view and connect with other musicians. 
        <br /><br />
    You post a detailed profile of yourself to allow other musicians to find you by type of instrument, skill level, style of music, location and a host of other attributes. You include short video clips of your best performances. 
<br /><br />
    You can use the app to search for nearby musicians to fill open spots when you have a gig in your area.</p>
    <hr />
    <p> Your Early Subscription payment will be used to put the final touches on the app and get it ready for launch. It's like funding a "Kickstarter" project.</p>
    <hr />
    <p>You'll be notified immediately when the app launches so you can take advantage of your discount subscription.</p>
    <a href="#close" title="Close" class="close">X</a>
</div>